[submodule "libs/gpg/gpgme"]
	path = libs/gpg/gpgme
	url = https://github.com/gpg/gpgme
[submodule "libs/gpg/libassuan"]
	path = libs/gpg/libassuan
	url = https://github.com/gpg/libassuan
[submodule "libs/gpg/libgpg-error"]
	path = libs/gpg/libgpg-error
	url = https://github.com/gpg/libgpg-error
[submodule "libs/gpg/gnupg"]
	path = libs/gpg/gnupg
	url = https://github.com/gpg/gnupg
[submodule "libs/quazip"]
	path = libs/quazip
	url = https://github.com/stachenov/quazip
[submodule "libs/libgit2"]
	path = libs/libgit2
	url = https://github.com/libgit2/libgit2
